@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.b-logreg {
  background: linear-gradient(to bottom, #315768, #7f531f);
}
.b-reglog {
  background: linear-gradient(to left, #7f531f, #315768);
}

.b-dash {
  background: linear-gradient(to bottom, #334e57, #555545);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #607eaa, #ff06b7);

  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@layer components {
  .container {
    @apply max-w-screen-xl w-full mx-auto px-6;
  }

  /* Pagination */

  .pagination-link {
    @apply border border-gray-900 text-gray-500 text-sm font-medium block py-2 px-4 bg-gray-100;
  }
  .pagination-active {
    @apply bg-gray-400 text-gray-900;
  }

  /* Navigation */

  .nav__item {
    @apply ml-8;
  }
  .nav__link {
    @apply text-base font-medium;
  }
  .nav__circle {
    @apply flex justify-center items-center w-[22px] h-[22px] rounded-full bg-indigo-600 text-xs text-white font-medium absolute -top-1 -right-3;
  }

  .slider-circles {
    @apply bg-white bg-opacity-30 rounded-full w-48 h-48 flex flex-col items-center justify-center;
  }

  .swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide:first-child {
    @apply relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Form */

  .header-heading {
    @apply text-white text-2xl capitalize font-medium;
  }

  .heading {
    @apply text-lg capitalize font-medium;
  }
  .form-label {
    @apply block mb-1.5 text-sm font-medium capitalize text-gray-700;
  }
  .form-input {
    @apply w-full border px-3 py-3 border-gray-300 rounded-md outline-none;
  }
  .error {
    @apply block mt-1.5 text-rose-600 font-medium text-sm;
  }
  .form-control {
    @apply w-full bg-epalette3 p-3 rounded outline-none text-gray-400 focus:ring-[3px] ring-epalette4 transition-all duration-300 placeholder:capitalize;
  }
  .btn-indigo {
    @apply bg-indigo-600 w-1/4 p-3 cursor-pointer text-white rounded-lg;
  }
  .btn-form {
    @apply bg-epalette2 w-1/4 p-3 cursor-pointer text-white rounded-lg;
  }
  .btn-dark {
    @apply bg-epalette1 px-4 py-3 capitalize font-medium cursor-pointer;
  }

  /* user account */

  .account-list {
    @apply flex items-center px-3 py-3.5 rounded-md;
  }
  .account-list__title {
    @apply block ml-3 font-medium text-sm text-gray-700 capitalize;
  }
  a.account-list.active {
    @apply bg-gray-50;
  }
}
